{{ app_caddy_site_address }} {
    encode gzip

    handle /api/* {
        reverse_proxy backend:8080
    }

    @static {
        path / /index.html /favicon.ico /manifest.json /robots.txt /service-worker.js /service-worker.js.map /push-service-worker.js /workbox-* /android-chrome-* /apple-touch-icon.png /favicon-*.png /mstile-* /browserconfig.xml /safari-pinned-tab.svg /js/* /css/* /img/* /fonts/* /precache-manifest*
    }

    handle @static {
        reverse_proxy frontend:8080
    }

    handle {
        rewrite * /
        reverse_proxy frontend:8080
    }
}
