openapi: 3.1.0
info:
  title: Weight Control Coach Action
  description: Discovers and reads scoped Weight Control health data, retrieves selected progress photos, manages confirmed records and coaching plans, assesses workouts, and preserves the reflection workflow.
  version: 1.6.0
servers:
  - url: https://weightcontrol.devjllado.com/api/chatgpt-actions
paths:
  /coach/catalog:
    get:
      operationId: getCoachCatalog
      summary: Discover available Weight Control health data
      description: Call before the first data-backed coaching answer to identify available domains and their date coverage without retrieving health records.
      responses:
        "200":
          description: Available Coach domains and coverage
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CoachCatalog"
  /coach/context:
    get:
      operationId: getHealthContext
      summary: Get a minimal domain-scoped health context
      description: Returns only the requested health domains for an inclusive range of no more than 90 days. Today is allowed even when the dashboard day is incomplete.
      parameters:
        - name: from
          in: query
          required: true
          description: Inclusive context start date in YYYY-MM-DD format.
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          description: Inclusive context end date in YYYY-MM-DD format. It cannot be in the future.
          schema:
            type: string
            format: date
        - name: domains
          in: query
          required: true
          description: One or more uppercase Coach domains as a comma-separated list.
          style: form
          explode: false
          schema:
            type: array
            minItems: 1
            uniqueItems: true
            items:
              $ref: "#/components/schemas/CoachDomain"
      responses:
        "200":
          description: Requested health context
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CoachContext"
        "400":
          description: Missing domains, invalid dates, a future end date, or a range longer than 90 inclusive days
  /coach/progress-photos:
    get:
      operationId: listProgressPhotos
      summary: List stored progress-photo metadata
      description: Lists photo-set dates, body values, and available sides without returning storage paths or image URLs. Call this before retrieving files.
      responses:
        "200":
          description: Stored progress-photo sets in newest-first order
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProgressPhotoSet"
  /coach/progress-photos/{photoSetId}/files:
    get:
      operationId: getProgressPhotoFiles
      summary: Retrieve selected progress-photo files
      description: Returns five-minute signed URLs for one to three sides from one owned photo set. Retrieve only sides needed for the user's visual request.
      parameters:
        - name: photoSetId
          in: path
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
        - name: sides
          in: query
          required: true
          description: One or more available sides as a comma-separated list.
          style: form
          explode: false
          schema:
            type: array
            minItems: 1
            maxItems: 3
            uniqueItems: true
            items:
              $ref: "#/components/schemas/ProgressPhotoSide"
      responses:
        "200":
          description: Temporary URLs formatted for ChatGPT file retrieval
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenAiFileResponse"
        "400":
          description: Missing or invalid side selection
        "404":
          description: Photo set or selected side not found for the authenticated user
  /coach/meals:
    get:
      operationId: getMeals
      summary: List meals for review or editing
      description: Returns owned meals and their resource IDs for an inclusive range of no more than 90 days.
      parameters:
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Stored meals
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Meal"
        "400":
          description: Invalid dates, a future end date, or a range longer than 90 inclusive days
    post:
      operationId: createMeal
      summary: Create a confirmed meal
      description: Creates the exact structured meal previously proposed to and explicitly confirmed by the user. For an attached meal image, send GPT_IMAGE_ESTIMATE and never send image bytes, ChatGPT file IDs, or image URLs.
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MealWrite"
      responses:
        "200":
          description: Created meal
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Meal"
        "400":
          description: Invalid values or missing explicit confirmation
  /coach/meals/{id}:
    put:
      operationId: updateMeal
      summary: Update a confirmed meal
      description: Replaces one owned meal with the exact values explicitly confirmed by the user. Call getMeals first to obtain the resource ID.
      x-openai-isConsequential: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MealWrite"
      responses:
        "200":
          description: Updated meal
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Meal"
        "400":
          description: Invalid values or missing explicit confirmation
        "404":
          description: Meal not found for the authenticated user
    delete:
      operationId: deleteMeal
      summary: Delete a confirmed meal
      description: Deletes one owned meal after the user explicitly confirms deleting the exact record. Call getMeals first to obtain the resource ID.
      x-openai-isConsequential: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfirmedWrite"
      responses:
        "200":
          description: Meal deleted
        "400":
          description: Missing explicit confirmation
        "404":
          description: Meal not found for the authenticated user
  /coach/fasting-periods:
    get:
      operationId: getFastingPeriods
      summary: List fasting periods for review or editing
      description: Returns owned fasting periods and their resource IDs when they overlap an inclusive date range of no more than 90 days.
      parameters:
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Stored fasting periods
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FastingPeriod"
        "400":
          description: Invalid dates, a future end date, or a range longer than 90 inclusive days
    post:
      operationId: createFastingPeriod
      summary: Create a confirmed fasting period
      description: Creates the exact completed fasting period previously proposed to and explicitly confirmed by the user.
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FastingPeriodWrite"
      responses:
        "200":
          description: Created fasting period
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FastingPeriod"
        "400":
          description: Invalid values, an overlapping period, or missing explicit confirmation
  /coach/fasting-periods/{id}:
    put:
      operationId: updateFastingPeriod
      summary: Update a confirmed fasting period
      description: Replaces one owned fasting period with the exact values explicitly confirmed by the user. Call getFastingPeriods first to obtain the resource ID.
      x-openai-isConsequential: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FastingPeriodWrite"
      responses:
        "200":
          description: Updated fasting period
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FastingPeriod"
        "400":
          description: Invalid values, an overlapping period, or missing explicit confirmation
        "404":
          description: Fasting period not found for the authenticated user
    delete:
      operationId: deleteFastingPeriod
      summary: Delete a confirmed fasting period
      description: Deletes one owned fasting period after the user explicitly confirms deleting the exact record. Call getFastingPeriods first to obtain the resource ID.
      x-openai-isConsequential: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfirmedWrite"
      responses:
        "200":
          description: Fasting period deleted
        "400":
          description: Missing explicit confirmation
        "404":
          description: Fasting period not found for the authenticated user
  /coach/health-constraints:
    get:
      operationId: getHealthConstraints
      summary: List health constraints for review or editing
      description: Returns active and inactive constraints with the resource IDs needed to update an existing constraint.
      responses:
        "200":
          description: Stored health constraints
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/HealthConstraint"
    post:
      operationId: createHealthConstraint
      summary: Create a confirmed health constraint
      description: Creates the exact health constraint previously proposed to and explicitly confirmed by the user.
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HealthConstraintWrite"
      responses:
        "200":
          description: Created health constraint
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthConstraint"
        "400":
          description: Invalid values or missing explicit confirmation
  /coach/health-constraints/{id}:
    put:
      operationId: updateHealthConstraint
      summary: Update a confirmed health constraint
      description: Replaces the editable fields of one owned constraint with the exact values explicitly confirmed by the user.
      x-openai-isConsequential: true
      parameters:
        - name: id
          in: path
          required: true
          description: Constraint resource ID returned by getHealthConstraints.
          schema:
            type: integer
            format: int64
            minimum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HealthConstraintWrite"
      responses:
        "200":
          description: Updated health constraint
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthConstraint"
        "400":
          description: Invalid values or missing explicit confirmation
        "404":
          description: Constraint not found for the authenticated user
  /coach/active-plan:
    get:
      operationId: getActivePlan
      summary: Get the complete active coaching plan
      description: Returns the current goal, principles, ordered priorities, agreed actions, dates, notes, and update time.
      responses:
        "200":
          description: Complete active coaching plan
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CoachingPlan"
        "204":
          description: The authenticated user has no active coaching plan
    put:
      operationId: updateActivePlan
      summary: Replace the complete active coaching plan after confirmation
      description: Creates or atomically replaces the complete plan with the exact version explicitly confirmed by the user.
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CoachingPlanWrite"
      responses:
        "200":
          description: Replaced active coaching plan
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CoachingPlan"
        "400":
          description: Invalid values or missing explicit confirmation
  /coach/workouts/{workoutDate}/assessment-context:
    get:
      operationId: getWorkoutAssessmentContext
      summary: Get the evidence required to assess one workout
      description: Returns the exact owned workout, active plan and constraints, up to ten matching prior workouts from the preceding 90 days, any current assessment, and stale-context timestamps. No internal identifiers are returned.
      parameters:
        - name: workoutDate
          in: path
          required: true
          description: Stored workout date in YYYY-MM-DD format.
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Workout assessment evidence
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkoutAssessmentContext"
        "400":
          description: No active coaching plan exists
        "404":
          description: Workout not found for the authenticated user
  /coach/workouts/{workoutDate}/assessment:
    put:
      operationId: saveWorkoutAssessment
      summary: Save a confirmed Coach workout assessment
      description: Creates or replaces the single assessment for an owned workout after the exact proposal is confirmed. Reload the assessment context and reassess when either context timestamp is stale.
      x-openai-isConsequential: true
      parameters:
        - name: workoutDate
          in: path
          required: true
          description: Stored workout date in YYYY-MM-DD format.
          schema:
            type: string
            format: date
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkoutAssessmentWrite"
      responses:
        "200":
          description: Saved assessment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkoutAssessment"
        "400":
          description: Invalid scores or text, missing confirmation or active plan, or stale context timestamps
        "404":
          description: Workout not found for the authenticated user
  /reflections/overview:
    get:
      operationId: getReflectionOverview
      summary: Get eligible dates and saved reflection history
      description: Call this first to identify completed dates and avoid choosing a date outside the tracked range.
      responses:
        "200":
          description: Reflection availability and history
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReflectionOverview"
  /reflections/{date}/context:
    get:
      operationId: getReflectionContext
      summary: Get health context and year-over-year weekly metrics for one reflection
      description: Returns 30 detailed days, 60 earlier days summarized by week, the matching period 52 weeks earlier, and up to seven earlier reflections. Treat missing values as unknown rather than zero.
      parameters:
        - name: date
          in: path
          required: true
          description: Completed dashboard date in YYYY-MM-DD format.
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Structured reflection context
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReflectionContext"
  /reflections/{date}:
    post:
      operationId: saveReflection
      summary: Save a completed reflection
      description: Saves the reflection produced after analyzing getReflectionContext. Repeating this operation replaces the saved reflection for the date.
      x-openai-isConsequential: true
      parameters:
        - name: date
          in: path
          required: true
          description: Completed dashboard date in YYYY-MM-DD format.
          schema:
            type: string
            format: date
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SaveReflection"
      responses:
        "200":
          description: Saved reflection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reflection"
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
  schemas:
    CoachDomain:
      type: string
      enum:
        - PROFILE
        - BODY
        - VITALS
        - NUTRITION
        - TRAINING
        - RECOVERY
        - BEHAVIOR
        - HEALTH_EVENTS
        - HEALTH_CONSTRAINTS
        - ACTIVE_PLAN
        - DECISIONS
        - RECORDS
        - REFLECTIONS
        - PROGRESS_PHOTOS
    CoachCatalog:
      type: object
      additionalProperties: false
      required:
        - timezone
        - currentLocalDateTime
        - domains
      properties:
        timezone:
          type: string
          example: Europe/Madrid
        currentLocalDateTime:
          type: string
          format: date-time
        lastCompletedDate:
          type:
            - string
            - "null"
          format: date
        domains:
          type: array
          items:
            $ref: "#/components/schemas/DomainAvailability"
    DomainAvailability:
      type: object
      additionalProperties: false
      required:
        - domain
        - recordCount
      properties:
        domain:
          $ref: "#/components/schemas/CoachDomain"
        recordCount:
          type: integer
          format: int64
          minimum: 0
        firstDate:
          type:
            - string
            - "null"
          format: date
        lastDate:
          type:
            - string
            - "null"
          format: date
    CoachContext:
      type: object
      additionalProperties: false
      required:
        - timezone
        - currentLocalDateTime
        - from
        - to
        - endDateComplete
        - dataSemantics
        - data
      properties:
        timezone:
          type: string
          example: Europe/Madrid
        currentLocalDateTime:
          type: string
          format: date-time
        from:
          type: string
          format: date
        to:
          type: string
          format: date
        lastCompletedDate:
          type:
            - string
            - "null"
          format: date
        endDateComplete:
          type: boolean
          description: True when the requested end date is no later than the last completed dashboard date.
        dataSemantics:
          $ref: "#/components/schemas/CoachDataSemantics"
        data:
          $ref: "#/components/schemas/CoachContextData"
    CoachDataSemantics:
      type: object
      additionalProperties: false
      required:
        - absentRecordsAreUnknown
        - recordedZeroCaloriesAreValid
        - requestedRangeIsInclusive
      properties:
        absentRecordsAreUnknown:
          type: boolean
          const: true
        recordedZeroCaloriesAreValid:
          type: boolean
          const: true
        requestedRangeIsInclusive:
          type: boolean
          const: true
    CoachContextData:
      type: object
      additionalProperties: false
      description: Contains only the domains requested through the domains query parameter.
      properties:
        PROFILE:
          $ref: "#/components/schemas/Profile"
        BODY:
          $ref: "#/components/schemas/BodyContext"
        VITALS:
          $ref: "#/components/schemas/VitalsContext"
        NUTRITION:
          $ref: "#/components/schemas/NutritionContext"
        TRAINING:
          $ref: "#/components/schemas/CoachWorkoutContext"
        RECOVERY:
          $ref: "#/components/schemas/RecoveryContext"
        BEHAVIOR:
          $ref: "#/components/schemas/BehaviorContext"
        HEALTH_EVENTS:
          $ref: "#/components/schemas/HealthEventsContext"
        HEALTH_CONSTRAINTS:
          $ref: "#/components/schemas/HealthConstraintsContext"
        ACTIVE_PLAN:
          $ref: "#/components/schemas/ActivePlanContext"
        DECISIONS:
          $ref: "#/components/schemas/DecisionsContext"
        RECORDS:
          $ref: "#/components/schemas/RecordsContext"
        REFLECTIONS:
          $ref: "#/components/schemas/ReflectionsContext"
        PROGRESS_PHOTOS:
          $ref: "#/components/schemas/ProgressPhotosContext"
    RecordsContext:
      type: object
      additionalProperties: false
      required:
        - current
        - progression
      properties:
        current:
          type: array
          items:
            $ref: "#/components/schemas/CoachRecord"
        progression:
          type: array
          description: Source-derived record events whose dates fall inside the requested inclusive range; routine events contain streak milestones while current routine records remain exact.
          items:
            $ref: "#/components/schemas/CoachRecordEvent"
    CoachRecord:
      type: object
      additionalProperties: false
      required:
        - metric
        - metricLabel
        - domain
        - direction
        - value
        - unit
        - subjectType
        - subjectLabel
      properties:
        metric:
          type: string
        metricLabel:
          type: string
        domain:
          type: string
        direction:
          type: string
          enum: [MINIMUM, MAXIMUM]
        value:
          type: number
        unit:
          type: string
        recordDate:
          type: [string, "null"]
          format: date
        subjectType:
          type: string
        subjectLabel:
          type: string
        qualifierLabel:
          type: [string, "null"]
    CoachRecordEvent:
      type: object
      additionalProperties: false
      required:
        - metric
        - metricLabel
        - domain
        - direction
        - kind
        - value
        - unit
        - recordDate
        - currentRecord
        - subjectType
        - subjectLabel
      properties:
        metric:
          type: string
        metricLabel:
          type: string
        domain:
          type: string
        direction:
          type: string
          enum: [MINIMUM, MAXIMUM]
        kind:
          type: string
          enum: [FIRST, IMPROVED, TIED]
        value:
          type: number
        previousValue:
          type: [number, "null"]
        unit:
          type: string
        recordDate:
          type: string
          format: date
        currentRecord:
          type: boolean
        subjectType:
          type: string
        subjectLabel:
          type: string
        qualifierLabel:
          type: [string, "null"]
    ProgressPhotoSide:
      type: string
      enum:
        - FRONT
        - LEFT
        - RIGHT
    ProgressPhotosContext:
      type: object
      additionalProperties: false
      required:
        - photoSets
      properties:
        photoSets:
          type: array
          items:
            $ref: "#/components/schemas/ProgressPhotoSet"
    ProgressPhotoSet:
      type: object
      additionalProperties: false
      required:
        - photoSetId
        - date
        - weightKg
        - fatPercentage
        - fatMassKg
        - muscleMassKg
        - musclePercentage
        - availableSides
      properties:
        photoSetId:
          type: integer
          format: int64
          minimum: 1
        date:
          type: string
          format: date
        weightKg:
          type: number
        fatPercentage:
          type: number
        fatMassKg:
          type: number
        muscleMassKg:
          type: number
        musclePercentage:
          type: number
        availableSides:
          type: array
          minItems: 1
          maxItems: 3
          uniqueItems: true
          items:
            $ref: "#/components/schemas/ProgressPhotoSide"
    OpenAiFileResponse:
      type: object
      additionalProperties: false
      required:
        - openaiFileResponse
      properties:
        openaiFileResponse:
          type: array
          minItems: 1
          maxItems: 3
          items:
            type: string
            format: uri
          description: Five-minute URLs pointing to the selected progress-photo files.
    BodyContext:
      type: object
      additionalProperties: false
      required:
        - measurements
      properties:
        measurements:
          type: array
          items:
            $ref: "#/components/schemas/BodyMeasurement"
    BodyMeasurement:
      type: object
      additionalProperties: false
      properties:
        date:
          type: string
          format: date
        weightKg:
          type: number
        fatPercentage:
          type: number
        fatMassKg:
          type: number
        muscleMassKg:
          type: number
        musclePercentage:
          type: number
        weightChangeKg:
          type: number
        fatChangeKg:
          type: number
        muscleChangeKg:
          type: number
    VitalsContext:
      type: object
      additionalProperties: false
      required:
        - bloodPressures
        - lipidPanels
      properties:
        bloodPressures:
          type: array
          items:
            $ref: "#/components/schemas/BloodPressure"
        lipidPanels:
          type: array
          items:
            $ref: "#/components/schemas/LipidPanel"
    NutritionContext:
      type: object
      additionalProperties: false
      required:
        - dailyTotals
        - meals
        - fastingPeriods
      properties:
        dailyTotals:
          type: array
          items:
            $ref: "#/components/schemas/NutritionDailyTotal"
        meals:
          type: array
          description: Meal context without resource IDs; call getMeals before editing.
          items:
            $ref: "#/components/schemas/NutritionMeal"
        fastingPeriods:
          type: array
          description: Fasting context without resource IDs; call getFastingPeriods before editing.
          items:
            $ref: "#/components/schemas/NutritionFastingPeriod"
    NutritionDailyTotal:
      type: object
      additionalProperties: false
      required:
        - date
        - calories
        - macrosComplete
      properties:
        date:
          type: string
          format: date
        calories:
          type: integer
          minimum: 0
        proteinGrams:
          type:
            - number
            - "null"
        carbohydrateGrams:
          type:
            - number
            - "null"
        fatGrams:
          type:
            - number
            - "null"
        macrosComplete:
          type: boolean
          description: False when any meal on the date is missing one or more macro values.
    NutritionMeal:
      type: object
      additionalProperties: false
      required:
        - date
        - mealType
        - mealSequence
        - calories
        - source
      properties:
        date:
          type: string
          format: date
        mealType:
          $ref: "#/components/schemas/MealType"
        mealSequence:
          type: integer
          minimum: 1
        mealTime:
          type:
            - string
            - "null"
          format: time
        calories:
          type: integer
          minimum: 0
        proteinGrams:
          type:
            - number
            - "null"
        carbohydrateGrams:
          type:
            - number
            - "null"
        fatGrams:
          type:
            - number
            - "null"
        notes:
          type:
            - string
            - "null"
        source:
          $ref: "#/components/schemas/MealSource"
    NutritionFastingPeriod:
      type: object
      additionalProperties: false
      required:
        - startTime
        - endTime
      properties:
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        notes:
          type:
            - string
            - "null"
    Meal:
      type: object
      additionalProperties: false
      required:
        - id
        - dateFormat
        - date
        - mealType
        - mealSequence
        - calories
        - source
      properties:
        id:
          type: integer
          format: int64
        dateFormat:
          type: string
        date:
          type: string
          format: date
        mealType:
          $ref: "#/components/schemas/MealType"
        mealSequence:
          type: integer
          minimum: 1
        mealTime:
          type:
            - string
            - "null"
          format: time
        calories:
          type: integer
          minimum: 0
        proteinGrams:
          type:
            - number
            - "null"
        carbohydrateGrams:
          type:
            - number
            - "null"
        fatGrams:
          type:
            - number
            - "null"
        notes:
          type:
            - string
            - "null"
        source:
          $ref: "#/components/schemas/MealSource"
    MealWrite:
      type: object
      additionalProperties: false
      description: Structured meal values only. Image-derived writes use GPT_IMAGE_ESTIMATE and never include image data or references.
      required:
        - date
        - mealType
        - calories
        - source
        - confirmed
      properties:
        date:
          type: string
          format: date
        mealType:
          $ref: "#/components/schemas/MealType"
        mealTime:
          type:
            - string
            - "null"
          format: time
        calories:
          type: integer
          minimum: 0
        proteinGrams:
          type:
            - number
            - "null"
          minimum: 0
        carbohydrateGrams:
          type:
            - number
            - "null"
          minimum: 0
        fatGrams:
          type:
            - number
            - "null"
          minimum: 0
        notes:
          type:
            - string
            - "null"
        source:
          $ref: "#/components/schemas/MealSource"
        confirmed:
          type: boolean
          const: true
          description: Must be true only after the user explicitly confirms these exact values.
    MealType:
      type: string
      enum:
        - BREAKFAST
        - LUNCH
        - DINNER
        - SNACK
    MealSource:
      type: string
      enum:
        - MANUAL
        - GPT_IMAGE_ESTIMATE
    FastingPeriod:
      type: object
      additionalProperties: false
      required:
        - id
        - startTimeFormat
        - endTimeFormat
        - startTime
        - endTime
      properties:
        id:
          type: integer
          format: int64
        startTimeFormat:
          type: string
        endTimeFormat:
          type: string
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        notes:
          type:
            - string
            - "null"
    FastingPeriodWrite:
      type: object
      additionalProperties: false
      required:
        - startTime
        - endTime
        - confirmed
      properties:
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        notes:
          type:
            - string
            - "null"
        confirmed:
          type: boolean
          const: true
          description: Must be true only after the user explicitly confirms these exact values.
    ConfirmedWrite:
      type: object
      additionalProperties: false
      required:
        - confirmed
      properties:
        confirmed:
          type: boolean
          const: true
          description: Must be true only after the user explicitly confirms this exact deletion.
    RecoveryContext:
      type: object
      additionalProperties: false
      required:
        - moods
        - sleeps
      properties:
        moods:
          type: array
          items:
            $ref: "#/components/schemas/CoachMood"
        sleeps:
          type: array
          items:
            $ref: "#/components/schemas/Sleep"
    CoachMood:
      type: object
      additionalProperties: false
      properties:
        date:
          type: string
          format: date
        period:
          type: string
          enum:
            - MORNING
            - MIDDAY
            - EVENING
        value:
          type: integer
        note:
          type:
            - string
            - "null"
    BehaviorContext:
      type: object
      additionalProperties: false
      required:
        - dailyStatuses
        - habits
        - routines
      properties:
        dailyStatuses:
          type: array
          items:
            $ref: "#/components/schemas/CoachDailyStatus"
        habits:
          type: array
          items:
            $ref: "#/components/schemas/Habit"
        routines:
          type: array
          items:
            $ref: "#/components/schemas/CoachRoutine"
    CoachDailyStatus:
      type: object
      additionalProperties: false
      required:
        - date
        - complete
      properties:
        date:
          type: string
          format: date
        complete:
          type: boolean
        routinesPercentage:
          type: number
        weightPercentage:
          type: number
        bloodPressurePercentage:
          type: number
        flexibilityPercentage:
          type: number
        mindPercentage:
          type: number
        routinesStatus:
          type: number
        weightStatus:
          type: number
        bloodPressureStatus:
          type: number
        flexibilityStatus:
          type: number
        mindStatus:
          type: number
    CoachRoutine:
      type: object
      additionalProperties: false
      required:
        - name
        - startDate
        - types
        - checkinDates
      properties:
        name:
          type: string
        startDate:
          type: string
          format: date
        types:
          type: array
          items:
            type: string
            enum:
              - WEIGHT
              - BLOOD_PRESSURE
              - FLEXIBILITY
              - MIND
        checkinDates:
          type: array
          items:
            type: string
            format: date
    HealthEventsContext:
      type: object
      additionalProperties: false
      required:
        - sicknesses
        - backPainEpisodes
      properties:
        sicknesses:
          type: array
          items:
            $ref: "#/components/schemas/Sickness"
        backPainEpisodes:
          type: array
          description: Location-specific entries; multiple entries can share a date and period when their regions or sides differ.
          items:
            $ref: "#/components/schemas/BackPainEpisode"
    HealthConstraintsContext:
      type: object
      additionalProperties: false
      required:
        - constraints
      properties:
        constraints:
          type: array
          items:
            $ref: "#/components/schemas/HealthConstraintContext"
    HealthConstraintContext:
      type: object
      additionalProperties: false
      required:
        - type
        - title
        - details
        - source
        - startDate
      properties:
        type:
          $ref: "#/components/schemas/HealthConstraintType"
        title:
          type: string
        details:
          type: string
        source:
          $ref: "#/components/schemas/HealthConstraintSource"
        startDate:
          type: string
          format: date
        endDate:
          type:
            - string
            - "null"
          format: date
    HealthConstraint:
      type: object
      additionalProperties: false
      required:
        - id
        - type
        - title
        - details
        - source
        - startDate
        - active
      properties:
        id:
          type: integer
          format: int64
        type:
          $ref: "#/components/schemas/HealthConstraintType"
        title:
          type: string
        details:
          type: string
        source:
          $ref: "#/components/schemas/HealthConstraintSource"
        startDate:
          type: string
          format: date
        endDate:
          type:
            - string
            - "null"
          format: date
        active:
          type: boolean
    HealthConstraintWrite:
      type: object
      additionalProperties: false
      required:
        - type
        - title
        - details
        - source
        - startDate
        - active
        - confirmed
      properties:
        type:
          $ref: "#/components/schemas/HealthConstraintType"
        title:
          type: string
          minLength: 1
          maxLength: 255
        details:
          type: string
          minLength: 1
        source:
          $ref: "#/components/schemas/HealthConstraintSource"
        startDate:
          type: string
          format: date
        endDate:
          type:
            - string
            - "null"
          format: date
        active:
          type: boolean
        confirmed:
          type: boolean
          const: true
          description: Must be true only after the user explicitly confirms these exact values.
    HealthConstraintType:
      type: string
      enum:
        - INJURY
        - CLINICIAN_GUIDANCE
        - MEDICATION
        - ALLERGY
        - DIETARY
        - OTHER
    HealthConstraintSource:
      type: string
      enum:
        - SELF_REPORTED
        - DOCTOR
        - PHYSIOTHERAPIST
        - OTHER_CLINICIAN
    ActivePlanContext:
      type: object
      additionalProperties: false
      required:
        - plan
      properties:
        plan:
          oneOf:
            - $ref: "#/components/schemas/CoachingPlan"
            - type: "null"
    CoachingPlan:
      type: object
      additionalProperties: false
      required:
        - goal
        - principles
        - priorities
        - actions
        - startDate
        - reviewDate
        - notes
        - updatedAt
      properties:
        goal:
          type: string
        principles:
          $ref: "#/components/schemas/CoachingPlanItems"
        priorities:
          $ref: "#/components/schemas/CoachingPlanItems"
        actions:
          $ref: "#/components/schemas/CoachingPlanItems"
        startDate:
          type: string
          format: date
        reviewDate:
          type:
            - string
            - "null"
          format: date
          description: Review checkpoint; it does not expire the plan.
        notes:
          type:
            - string
            - "null"
        updatedAt:
          type: string
          format: date-time
    CoachingPlanWrite:
      type: object
      additionalProperties: false
      required:
        - goal
        - principles
        - priorities
        - actions
        - startDate
        - reviewDate
        - notes
        - confirmed
      properties:
        goal:
          type: string
          minLength: 1
          maxLength: 255
        principles:
          $ref: "#/components/schemas/CoachingPlanItems"
        priorities:
          $ref: "#/components/schemas/CoachingPlanItems"
        actions:
          $ref: "#/components/schemas/CoachingPlanItems"
        startDate:
          type: string
          format: date
        reviewDate:
          type:
            - string
            - "null"
          format: date
        notes:
          type:
            - string
            - "null"
        confirmed:
          type: boolean
          const: true
          description: Must be true only after the user explicitly confirms this exact complete plan.
    CoachingPlanItems:
      type: array
      items:
        type: string
        minLength: 1
    BackPainEpisode:
      type: object
      additionalProperties: false
      properties:
        date:
          type: string
          format: date
        time:
          type:
            - string
            - "null"
          format: time
        period:
          type: string
          enum:
            - MORNING
            - MIDDAY
            - EVENING
        region:
          type: string
          enum:
            - UPPER
            - MIDDLE
            - LOWER
        side:
          type:
            - string
            - "null"
          enum:
            - LEFT
            - CENTER
            - RIGHT
            - null
        severity:
          type: string
          enum:
            - MILD
            - MODERATE
            - SEVERE
            - EXTREME
        note:
          type:
            - string
            - "null"
    DecisionsContext:
      type: object
      additionalProperties: false
      required:
        - outcomes
        - summary
      properties:
        outcomes:
          type: array
          items:
            $ref: "#/components/schemas/CoachDecision"
        summary:
          $ref: "#/components/schemas/DecisionRangeSummary"
    CoachDecision:
      type: object
      additionalProperties: false
      required:
        - date
        - outcome
      properties:
        date:
          type: string
          format: date
        outcome:
          type: string
          enum:
            - WIN
            - MISS
    DecisionRangeSummary:
      type: object
      additionalProperties: false
      required:
        - wins
        - misses
        - endingWinStreak
      properties:
        wins:
          type: integer
          format: int64
          minimum: 0
        misses:
          type: integer
          format: int64
          minimum: 0
        winRate:
          type:
            - number
            - "null"
        endingWinStreak:
          type: integer
          minimum: 0
    ReflectionsContext:
      type: object
      additionalProperties: false
      required:
        - reflections
      properties:
        reflections:
          type: array
          items:
            $ref: "#/components/schemas/RecentReflection"
    ReflectionOverview:
      type: object
      required:
        - actionConfigured
        - reflections
      properties:
        firstTrackedDate:
          type:
            - string
            - "null"
          format: date
        lastCompletedDate:
          type:
            - string
            - "null"
          format: date
        actionConfigured:
          type: boolean
        reflections:
          type: array
          items:
            $ref: "#/components/schemas/ReflectionSummary"
    ReflectionSummary:
      type: object
      required:
        - reflectionDate
        - generatedAt
        - title
      properties:
        reflectionDate:
          type: string
          format: date
        generatedAt:
          type: string
          format: date-time
        title:
          type: string
    SaveReflection:
      type: object
      additionalProperties: false
      required:
        - title
        - summary
        - positiveSignals
        - watchouts
        - nextActions
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 80
        summary:
          type: string
          minLength: 1
          maxLength: 200
        positiveSignals:
          $ref: "#/components/schemas/InsightList"
        watchouts:
          $ref: "#/components/schemas/InsightList"
        nextActions:
          $ref: "#/components/schemas/InsightList"
    InsightList:
      type: array
      minItems: 1
      maxItems: 1
      items:
        type: string
        minLength: 1
        maxLength: 120
    ReflectionContext:
      type: object
      required:
        - selectedDate
        - contextStart
        - detailedStart
        - baselineEnd
        - profile
        - dataSemantics
        - recentReflections
        - dailyStatuses
        - habits
        - routines
        - weights
        - bloodPressures
        - moods
        - sleeps
        - calories
        - workouts
        - sicknesses
        - decisions
        - decisionSummary
        - weekProgress
        - baselineWeeks
      properties:
        selectedDate:
          type: string
          format: date
        contextStart:
          type: string
          format: date
        detailedStart:
          type: string
          format: date
        baselineEnd:
          type: string
          format: date
        profile:
          $ref: "#/components/schemas/Profile"
        dataSemantics:
          $ref: "#/components/schemas/DataSemantics"
        activePlan:
          $ref: "#/components/schemas/CoachingPlan"
        recentReflections:
          type: array
          maxItems: 7
          items:
            $ref: "#/components/schemas/RecentReflection"
        dailyStatuses:
          type: array
          items:
            $ref: "#/components/schemas/DailyStatus"
        habits:
          type: array
          items:
            $ref: "#/components/schemas/Habit"
        routines:
          type: array
          items:
            $ref: "#/components/schemas/Routine"
        weights:
          type: array
          items:
            $ref: "#/components/schemas/Weight"
        bloodPressures:
          type: array
          items:
            $ref: "#/components/schemas/BloodPressure"
        moods:
          type: array
          items:
            $ref: "#/components/schemas/Mood"
        sleeps:
          type: array
          items:
            $ref: "#/components/schemas/Sleep"
        calories:
          type: array
          items:
            $ref: "#/components/schemas/Calorie"
        workouts:
          $ref: "#/components/schemas/WorkoutContext"
        sicknesses:
          type: array
          items:
            $ref: "#/components/schemas/Sickness"
        decisions:
          type: array
          items:
            $ref: "#/components/schemas/Decision"
        decisionSummary:
          $ref: "#/components/schemas/DecisionSummary"
        weekProgress:
          $ref: "#/components/schemas/WeekProgress"
        baselineWeeks:
          type: array
          items:
            $ref: "#/components/schemas/WeeklySummary"
    DataSemantics:
      type: object
      required:
        - recordedZeroCaloriesAreValid
      properties:
        recordedZeroCaloriesAreValid:
          type: boolean
          description: Always true. A saved calorie entry with value zero is confirmed data and must be included in calculations; an absent date is unknown.
    RecentReflection:
      type: object
      required:
        - reflectionDate
        - title
        - summary
        - positiveSignals
        - watchouts
        - nextActions
      properties:
        reflectionDate:
          type: string
          format: date
        title:
          type: string
        summary:
          type: string
        positiveSignals:
          $ref: "#/components/schemas/HistoricalInsightList"
        watchouts:
          $ref: "#/components/schemas/HistoricalInsightList"
        nextActions:
          $ref: "#/components/schemas/HistoricalInsightList"
    HistoricalInsightList:
      type: array
      maxItems: 5
      items:
        type: string
        minLength: 1
        maxLength: 500
    Profile:
      type: object
      properties:
        age:
          type:
            - integer
            - "null"
        heightCm:
          type:
            - integer
            - "null"
        sex:
          type:
            - string
            - "null"
          enum:
            - MALE
            - FEMALE
            - null
        fitnessLevel:
          type:
            - string
            - "null"
          enum:
            - SEDENTARY
            - LOW_ACTIVE
            - ACTIVE
            - VERY_ACTIVE
            - null
        takesMedication:
          type: boolean
        weeklyAverageCalorieMaximum:
          type: integer
        typicalCaloriesByWeekday:
          type: object
          properties:
            MONDAY:
              type: integer
            TUESDAY:
              type: integer
            WEDNESDAY:
              type: integer
            THURSDAY:
              type: integer
            FRIDAY:
              type: integer
            SATURDAY:
              type: integer
            SUNDAY:
              type: integer
    DailyStatus:
      type: object
      properties:
        date:
          type: string
          format: date
        routinesPercentage:
          type:
            - number
            - "null"
        weightPercentage:
          type:
            - number
            - "null"
        bloodPressurePercentage:
          type:
            - number
            - "null"
        flexibilityPercentage:
          type:
            - number
            - "null"
        mindPercentage:
          type:
            - number
            - "null"
        routinesStatus:
          type:
            - number
            - "null"
        weightStatus:
          type:
            - number
            - "null"
        bloodPressureStatus:
          type:
            - number
            - "null"
        flexibilityStatus:
          type:
            - number
            - "null"
        mindStatus:
          type:
            - number
            - "null"
    Habit:
      type: object
      properties:
        name:
          type: string
        startDate:
          type: string
          format: date
        targetDays:
          type:
            - integer
            - "null"
        lastRecordedDate:
          type:
            - string
            - "null"
          format: date
    Routine:
      type: object
      properties:
        name:
          type: string
        startDate:
          type: string
          format: date
        types:
          type: array
          items:
            type: string
            enum:
              - WEIGHT
              - BLOOD_PRESSURE
              - FLEXIBILITY
              - MIND
        checkinCount:
          type: integer
          description: Number of check-ins during the 30-day detailed window.
        lastCheckinDate:
          type:
            - string
            - "null"
          format: date
    Weight:
      type: object
      properties:
        date:
          type: string
          format: date
        weightKg:
          type:
            - number
            - "null"
        fatPercentage:
          type:
            - number
            - "null"
        musclePercentage:
          type:
            - number
            - "null"
        weightChangeKg:
          type:
            - number
            - "null"
        fatChangeKg:
          type:
            - number
            - "null"
        muscleChangeKg:
          type:
            - number
            - "null"
    BloodPressure:
      type: object
      properties:
        date:
          type: string
          format: date
        systolic:
          type:
            - integer
            - "null"
        diastolic:
          type:
            - integer
            - "null"
        systolicChange:
          type:
            - integer
            - "null"
        diastolicChange:
          type:
            - integer
            - "null"
    LipidPanel:
      type: object
      additionalProperties: false
      required:
        - date
        - totalCholesterol
        - hdlCholesterol
        - ldlCholesterol
        - triglycerides
      properties:
        date:
          type: string
          format: date
        totalCholesterol:
          type: integer
          minimum: 1
        hdlCholesterol:
          type: integer
          minimum: 1
        ldlCholesterol:
          type: integer
          minimum: 1
        triglycerides:
          type: integer
          minimum: 1
    Mood:
      type: object
      properties:
        date:
          type: string
          format: date
        value:
          type:
            - integer
            - "null"
        note:
          type:
            - string
            - "null"
    Sleep:
      type: object
      properties:
        date:
          type: string
          format: date
        bedtimeStart:
          type:
            - string
            - "null"
          format: date-time
        bedtimeEnd:
          type:
            - string
            - "null"
          format: date-time
        totalSleepSeconds:
          type:
            - integer
            - "null"
        deepSleepSeconds:
          type:
            - integer
            - "null"
        remSleepSeconds:
          type:
            - integer
            - "null"
        lightSleepSeconds:
          type:
            - integer
            - "null"
        awakeSeconds:
          type:
            - integer
            - "null"
        averageHeartRate:
          type:
            - number
            - "null"
        averageHrv:
          type:
            - integer
            - "null"
    Calorie:
      type: object
      required:
        - date
        - calories
      properties:
        date:
          type: string
          format: date
        calories:
          type: integer
          minimum: 0
          description: Explicitly recorded value. Zero is confirmed data, not a missing or incomplete entry.
    WorkoutAssessmentContext:
      type: object
      additionalProperties: false
      required:
        - workout
        - activePlan
        - activeConstraints
        - recentComparableTraining
        - planUpdatedAt
        - workoutUpdatedAt
      properties:
        workout:
          $ref: "#/components/schemas/AssessmentWorkout"
        activePlan:
          $ref: "#/components/schemas/CoachingPlan"
        activeConstraints:
          type: array
          items:
            $ref: "#/components/schemas/HealthConstraintContext"
        recentComparableTraining:
          type: array
          maxItems: 10
          description: Newest first; each prior workout contains only exercises also present in the assessed workout.
          items:
            $ref: "#/components/schemas/AssessmentWorkout"
        currentAssessment:
          oneOf:
            - $ref: "#/components/schemas/WorkoutAssessment"
            - type: "null"
        planUpdatedAt:
          type: string
          format: date-time
        workoutUpdatedAt:
          type: string
          format: date-time
    AssessmentWorkout:
      type: object
      additionalProperties: false
      required:
        - date
        - lines
      properties:
        date:
          type: string
          format: date
        note:
          type:
            - string
            - "null"
        lines:
          type: array
          items:
            $ref: "#/components/schemas/AssessmentWorkoutLine"
    AssessmentWorkoutLine:
      type: object
      additionalProperties: false
      required:
        - exercise
        - description
        - trackingMode
        - segments
      properties:
        exercise:
          type: string
        description:
          type: string
        trackingMode:
          type: string
          enum:
            - REPS
            - SECONDS
            - CARDIO
        calories:
          type:
            - integer
            - "null"
        averageHeartRate:
          type:
            - integer
            - "null"
        segments:
          type: array
          items:
            $ref: "#/components/schemas/AssessmentWorkoutSegment"
    AssessmentWorkoutSegment:
      type: object
      additionalProperties: false
      properties:
        repetitions:
          type:
            - integer
            - "null"
        durationSeconds:
          type:
            - integer
            - "null"
        weightKg:
          type:
            - number
            - "null"
        speedKph:
          type:
            - number
            - "null"
        distanceKm:
          type:
            - number
            - "null"
        inclinePercent:
          type:
            - number
            - "null"
        resistanceLevel:
          type:
            - integer
            - "null"
    WorkoutAssessmentWrite:
      type: object
      additionalProperties: false
      required:
        - goalAlignmentScore
        - estimatedTrainingDemandScore
        - rationale
        - strength
        - improvement
        - nextWorkoutAction
        - planUpdatedAt
        - workoutUpdatedAt
        - confirmed
      properties:
        goalAlignmentScore:
          type: integer
          minimum: 1
          maximum: 10
        estimatedTrainingDemandScore:
          type: integer
          minimum: 1
          maximum: 10
          description: Estimated from recorded workload and comparable training, not subjective perceived effort.
        rationale:
          type: string
          minLength: 1
          description: At most 25 words.
        strength:
          type: string
          minLength: 1
          description: At most 15 words.
        improvement:
          type: string
          minLength: 1
          description: At most 15 words.
        nextWorkoutAction:
          type: string
          minLength: 1
          description: At most 15 words.
        planUpdatedAt:
          type: string
          format: date-time
          description: Copy exactly from getWorkoutAssessmentContext.
        workoutUpdatedAt:
          type: string
          format: date-time
          description: Copy exactly from getWorkoutAssessmentContext.
        confirmed:
          type: boolean
          const: true
    WorkoutAssessment:
      type: object
      additionalProperties: false
      required:
        - goalAlignmentScore
        - estimatedTrainingDemandScore
        - rationale
        - strength
        - improvement
        - nextWorkoutAction
        - goalSnapshot
        - createdAt
        - updatedAt
        - outdated
      properties:
        goalAlignmentScore:
          type: integer
          minimum: 1
          maximum: 10
        estimatedTrainingDemandScore:
          type: integer
          minimum: 1
          maximum: 10
        rationale:
          type: string
        strength:
          type: string
        improvement:
          type: string
        nextWorkoutAction:
          type: string
        goalSnapshot:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        outdated:
          type: boolean
    CoachWorkoutContext:
      type: object
      properties:
        days:
          type: array
          items:
            $ref: "#/components/schemas/CoachWorkoutDay"
        exerciseSummaries:
          type: array
          items:
            $ref: "#/components/schemas/WorkoutExercise"
    CoachWorkoutDay:
      type: object
      properties:
        date:
          type: string
          format: date
        note:
          type:
            - string
            - "null"
        exercises:
          type: array
          items:
            type: string
        totalDurationSeconds:
          type:
            - integer
            - "null"
        totalDistanceKm:
          type:
            - number
            - "null"
        totalCalories:
          type:
            - integer
            - "null"
        strengthVolumeKg:
          type:
            - number
            - "null"
        assessment:
          oneOf:
            - $ref: "#/components/schemas/WorkoutAssessmentSummary"
            - type: "null"
    WorkoutAssessmentSummary:
      type: object
      additionalProperties: false
      required:
        - goalAlignmentScore
        - estimatedTrainingDemandScore
        - rationale
        - strength
        - improvement
        - nextWorkoutAction
        - goalSnapshot
        - outdated
      properties:
        goalAlignmentScore:
          type: integer
          minimum: 1
          maximum: 10
        estimatedTrainingDemandScore:
          type: integer
          minimum: 1
          maximum: 10
        rationale:
          type: string
        strength:
          type: string
        improvement:
          type: string
        nextWorkoutAction:
          type: string
        goalSnapshot:
          type: string
        outdated:
          type: boolean
    WorkoutContext:
      type: object
      properties:
        days:
          type: array
          items:
            $ref: "#/components/schemas/WorkoutDay"
        exerciseSummaries:
          type: array
          items:
            $ref: "#/components/schemas/WorkoutExercise"
    WorkoutDay:
      type: object
      properties:
        date:
          type: string
          format: date
        note:
          type:
            - string
            - "null"
        exercises:
          type: array
          items:
            type: string
        totalDurationSeconds:
          type:
            - integer
            - "null"
        totalDistanceKm:
          type:
            - number
            - "null"
        totalCalories:
          type:
            - integer
            - "null"
        strengthVolumeKg:
          type:
            - number
            - "null"
    WorkoutExercise:
      type: object
      properties:
        exercise:
          type: string
        trackingMode:
          type: string
          enum:
            - REPS
            - SECONDS
            - CARDIO
        sessionCount:
          type: integer
        segmentCount:
          type: integer
        totalRepetitions:
          type:
            - integer
            - "null"
        totalDurationSeconds:
          type:
            - integer
            - "null"
        maximumWeightKg:
          type:
            - number
            - "null"
        strengthVolumeKg:
          type:
            - number
            - "null"
        totalDistanceKm:
          type:
            - number
            - "null"
        maximumSpeedKph:
          type:
            - number
            - "null"
        maximumInclinePercent:
          type:
            - number
            - "null"
        maximumResistanceLevel:
          type:
            - integer
            - "null"
        totalCalories:
          type:
            - integer
            - "null"
        averageHeartRate:
          type:
            - number
            - "null"
    Sickness:
      type: object
      properties:
        date:
          type: string
          format: date
        type:
          type: string
        severity:
          type: string
          enum:
            - LOW
            - MEDIUM
            - HIGH
        note:
          type:
            - string
            - "null"
    Decision:
      type: object
      properties:
        date:
          type: string
          format: date
        outcome:
          type: string
          enum:
            - WIN
            - MISS
    DecisionMetrics:
      type: object
      properties:
        wins:
          type: integer
          format: int64
        misses:
          type: integer
          format: int64
        winRate:
          type:
            - number
            - "null"
    DecisionSummary:
      type: object
      properties:
        selectedDate:
          $ref: "#/components/schemas/DecisionMetrics"
        rolling30Days:
          $ref: "#/components/schemas/DecisionMetrics"
        previous30Days:
          $ref: "#/components/schemas/DecisionMetrics"
        allTime:
          $ref: "#/components/schemas/DecisionMetrics"
        winRateChange:
          type:
            - number
            - "null"
        currentWinStreak:
          type: integer
    WeekProgress:
      type: object
      required:
        - completeWeek
        - currentPeriod
        - previousComparablePeriod
        - yearAgoComparablePeriod
      properties:
        completeWeek:
          type: boolean
        currentPeriod:
          $ref: "#/components/schemas/WeeklySummary"
        previousComparablePeriod:
          $ref: "#/components/schemas/WeeklySummary"
        yearAgoComparablePeriod:
          $ref: "#/components/schemas/WeeklySummary"
    WeeklySummary:
      type: object
      properties:
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        dashboard:
          $ref: "#/components/schemas/AverageStatus"
        routineCheckins:
          type: integer
        weight:
          $ref: "#/components/schemas/AverageWeight"
        bloodPressure:
          $ref: "#/components/schemas/AverageBloodPressure"
        moodAverage:
          type:
            - number
            - "null"
        sleep:
          $ref: "#/components/schemas/AverageSleep"
        calories:
          $ref: "#/components/schemas/CalorieSummary"
        workouts:
          $ref: "#/components/schemas/WorkoutSummary"
        sicknessesByType:
          type: object
          properties:
            COLD:
              type: integer
              format: int64
          additionalProperties:
            type: integer
            format: int64
        sicknessesBySeverity:
          type: object
          properties:
            LOW:
              type: integer
              format: int64
            MEDIUM:
              type: integer
              format: int64
            HIGH:
              type: integer
              format: int64
        decisions:
          $ref: "#/components/schemas/DecisionMetrics"
    AverageStatus:
      type: object
      properties:
        routinesPercentage:
          type:
            - number
            - "null"
        weightPercentage:
          type:
            - number
            - "null"
        bloodPressurePercentage:
          type:
            - number
            - "null"
        flexibilityPercentage:
          type:
            - number
            - "null"
        mindPercentage:
          type:
            - number
            - "null"
    AverageWeight:
      type: object
      properties:
        weightKg:
          type:
            - number
            - "null"
        fatPercentage:
          type:
            - number
            - "null"
        musclePercentage:
          type:
            - number
            - "null"
    AverageBloodPressure:
      type: object
      properties:
        systolic:
          type:
            - number
            - "null"
        diastolic:
          type:
            - number
            - "null"
    AverageSleep:
      type: object
      properties:
        totalSleepSeconds:
          type:
            - number
            - "null"
        deepSleepSeconds:
          type:
            - number
            - "null"
        remSleepSeconds:
          type:
            - number
            - "null"
        awakeSeconds:
          type:
            - number
            - "null"
        averageHeartRate:
          type:
            - number
            - "null"
        averageHrv:
          type:
            - number
            - "null"
    CalorieSummary:
      type: object
      properties:
        entryCount:
          type: integer
        totalCalories:
          type: integer
        averageCalories:
          type:
            - number
            - "null"
        averageTargetCalories:
          type:
            - number
            - "null"
        averageDifferenceFromTarget:
          type:
            - number
            - "null"
    WorkoutSummary:
      type: object
      properties:
        workoutCount:
          type: integer
        totalDurationSeconds:
          type: integer
        totalDistanceKm:
          type: number
        totalCalories:
          type: integer
        strengthVolumeKg:
          type: number
    Reflection:
      type: object
      required:
        - reflectionDate
        - windowStart
        - detailedWindowStart
        - windowEnd
        - generatedAt
        - model
        - title
        - summary
        - positiveSignals
        - watchouts
        - nextActions
      properties:
        reflectionDate:
          type: string
          format: date
        windowStart:
          type: string
          format: date
        detailedWindowStart:
          type: string
          format: date
        windowEnd:
          type: string
          format: date
        generatedAt:
          type: string
          format: date-time
        model:
          type: string
        title:
          type: string
        summary:
          type: string
        positiveSignals:
          $ref: "#/components/schemas/InsightList"
        watchouts:
          $ref: "#/components/schemas/InsightList"
        nextActions:
          $ref: "#/components/schemas/InsightList"
security:
  - BearerAuth: []
