openapi: 3.1.0
info:
  title: Weight Control Reflection Action
  description: Reads Weight Control health context and saves personal wellness reflections.
  version: 1.0.0
servers:
  - url: https://weightcontrol.devjllado.com/api/chatgpt-actions
paths:
  /reflections/overview:
    get:
      operationId: getReflectionOverview
      summary: Get eligible dates and saved reflection history
      description: Call this first to identify completed dates and avoid choosing a date outside the tracked range.
      responses:
        "200":
          description: Reflection availability and history
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReflectionOverview"
  /reflections/{date}/context:
    get:
      operationId: getReflectionContext
      summary: Get the 90-day health context for one reflection
      description: Returns 30 detailed days and 60 earlier days summarized by week. Treat missing values as unknown rather than zero.
      parameters:
        - name: date
          in: path
          required: true
          description: Completed dashboard date in YYYY-MM-DD format.
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Structured reflection context
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReflectionContext"
  /reflections/{date}:
    post:
      operationId: saveReflection
      summary: Save a completed reflection
      description: Call only after analyzing getReflectionContext. Repeating this operation replaces the saved reflection for the date.
      parameters:
        - name: date
          in: path
          required: true
          description: Completed dashboard date in YYYY-MM-DD format.
          schema:
            type: string
            format: date
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SaveReflection"
      responses:
        "200":
          description: Saved reflection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reflection"
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
  schemas:
    ReflectionOverview:
      type: object
      required:
        - actionConfigured
        - reflections
      properties:
        firstTrackedDate:
          type:
            - string
            - "null"
          format: date
        lastCompletedDate:
          type:
            - string
            - "null"
          format: date
        actionConfigured:
          type: boolean
        reflections:
          type: array
          items:
            $ref: "#/components/schemas/ReflectionSummary"
    ReflectionSummary:
      type: object
      required:
        - reflectionDate
        - generatedAt
        - title
      properties:
        reflectionDate:
          type: string
          format: date
        generatedAt:
          type: string
          format: date-time
        title:
          type: string
    SaveReflection:
      type: object
      additionalProperties: false
      required:
        - title
        - summary
        - positiveSignals
        - watchouts
        - nextActions
      properties:
        title:
          type: string
          maxLength: 255
        summary:
          type: string
          maxLength: 4000
        positiveSignals:
          $ref: "#/components/schemas/InsightList"
        watchouts:
          $ref: "#/components/schemas/InsightList"
        nextActions:
          $ref: "#/components/schemas/InsightList"
    InsightList:
      type: array
      maxItems: 5
      items:
        type: string
        minLength: 1
        maxLength: 500
    ReflectionContext:
      type: object
      required:
        - selectedDate
        - contextStart
        - detailedStart
        - baselineEnd
        - profile
        - dailyStatuses
        - habits
        - routines
        - weights
        - bloodPressures
        - moods
        - sleeps
        - calories
        - workouts
        - sicknesses
        - decisions
        - decisionSummary
        - weekProgress
        - baselineWeeks
      properties:
        selectedDate:
          type: string
          format: date
        contextStart:
          type: string
          format: date
        detailedStart:
          type: string
          format: date
        baselineEnd:
          type: string
          format: date
        profile:
          $ref: "#/components/schemas/Profile"
        dailyStatuses:
          type: array
          items:
            $ref: "#/components/schemas/DailyStatus"
        habits:
          type: array
          items:
            $ref: "#/components/schemas/Habit"
        routines:
          type: array
          items:
            $ref: "#/components/schemas/Routine"
        weights:
          type: array
          items:
            $ref: "#/components/schemas/Weight"
        bloodPressures:
          type: array
          items:
            $ref: "#/components/schemas/BloodPressure"
        moods:
          type: array
          items:
            $ref: "#/components/schemas/Mood"
        sleeps:
          type: array
          items:
            $ref: "#/components/schemas/Sleep"
        calories:
          type: array
          items:
            $ref: "#/components/schemas/Calorie"
        workouts:
          $ref: "#/components/schemas/WorkoutContext"
        sicknesses:
          type: array
          items:
            $ref: "#/components/schemas/Sickness"
        decisions:
          type: array
          items:
            $ref: "#/components/schemas/Decision"
        decisionSummary:
          $ref: "#/components/schemas/DecisionSummary"
        weekProgress:
          $ref: "#/components/schemas/WeekProgress"
        baselineWeeks:
          type: array
          items:
            $ref: "#/components/schemas/WeeklySummary"
    Profile:
      type: object
      properties:
        age:
          type:
            - integer
            - "null"
        heightCm:
          type:
            - integer
            - "null"
        sex:
          type:
            - string
            - "null"
          enum:
            - MALE
            - FEMALE
            - null
        fitnessLevel:
          type:
            - string
            - "null"
          enum:
            - SEDENTARY
            - LOW_ACTIVE
            - ACTIVE
            - VERY_ACTIVE
            - null
        takesMedication:
          type: boolean
        weeklyAverageCalorieMaximum:
          type: integer
        typicalCaloriesByWeekday:
          type: object
          properties:
            MONDAY:
              type: integer
            TUESDAY:
              type: integer
            WEDNESDAY:
              type: integer
            THURSDAY:
              type: integer
            FRIDAY:
              type: integer
            SATURDAY:
              type: integer
            SUNDAY:
              type: integer
    DailyStatus:
      type: object
      properties:
        date:
          type: string
          format: date
        routinesPercentage:
          type:
            - number
            - "null"
        weightPercentage:
          type:
            - number
            - "null"
        bloodPressurePercentage:
          type:
            - number
            - "null"
        flexibilityPercentage:
          type:
            - number
            - "null"
        mindPercentage:
          type:
            - number
            - "null"
        routinesStatus:
          type:
            - number
            - "null"
        weightStatus:
          type:
            - number
            - "null"
        bloodPressureStatus:
          type:
            - number
            - "null"
        flexibilityStatus:
          type:
            - number
            - "null"
        mindStatus:
          type:
            - number
            - "null"
    Habit:
      type: object
      properties:
        name:
          type: string
        startDate:
          type: string
          format: date
        targetDays:
          type:
            - integer
            - "null"
        lastRecordedDate:
          type:
            - string
            - "null"
          format: date
    Routine:
      type: object
      properties:
        name:
          type: string
        startDate:
          type: string
          format: date
        types:
          type: array
          items:
            type: string
            enum:
              - WEIGHT
              - BLOOD_PRESSURE
              - FLEXIBILITY
              - MIND
        checkinCount:
          type: integer
          description: Number of check-ins during the 30-day detailed window.
        lastCheckinDate:
          type:
            - string
            - "null"
          format: date
    Weight:
      type: object
      properties:
        date:
          type: string
          format: date
        weightKg:
          type:
            - number
            - "null"
        fatPercentage:
          type:
            - number
            - "null"
        musclePercentage:
          type:
            - number
            - "null"
        weightChangeKg:
          type:
            - number
            - "null"
        fatChangeKg:
          type:
            - number
            - "null"
        muscleChangeKg:
          type:
            - number
            - "null"
    BloodPressure:
      type: object
      properties:
        date:
          type: string
          format: date
        systolic:
          type:
            - integer
            - "null"
        diastolic:
          type:
            - integer
            - "null"
        systolicChange:
          type:
            - integer
            - "null"
        diastolicChange:
          type:
            - integer
            - "null"
    Mood:
      type: object
      properties:
        date:
          type: string
          format: date
        value:
          type:
            - integer
            - "null"
        note:
          type:
            - string
            - "null"
    Sleep:
      type: object
      properties:
        date:
          type: string
          format: date
        bedtimeStart:
          type:
            - string
            - "null"
          format: date-time
        bedtimeEnd:
          type:
            - string
            - "null"
          format: date-time
        totalSleepSeconds:
          type:
            - integer
            - "null"
        deepSleepSeconds:
          type:
            - integer
            - "null"
        remSleepSeconds:
          type:
            - integer
            - "null"
        lightSleepSeconds:
          type:
            - integer
            - "null"
        awakeSeconds:
          type:
            - integer
            - "null"
        averageHeartRate:
          type:
            - number
            - "null"
        averageHrv:
          type:
            - integer
            - "null"
    Calorie:
      type: object
      properties:
        date:
          type: string
          format: date
        calories:
          type:
            - integer
            - "null"
    WorkoutContext:
      type: object
      properties:
        days:
          type: array
          items:
            $ref: "#/components/schemas/WorkoutDay"
        exerciseSummaries:
          type: array
          items:
            $ref: "#/components/schemas/WorkoutExercise"
    WorkoutDay:
      type: object
      properties:
        date:
          type: string
          format: date
        note:
          type:
            - string
            - "null"
        exercises:
          type: array
          items:
            type: string
        totalDurationSeconds:
          type:
            - integer
            - "null"
        totalDistanceKm:
          type:
            - number
            - "null"
        totalCalories:
          type:
            - integer
            - "null"
        strengthVolumeKg:
          type:
            - number
            - "null"
    WorkoutExercise:
      type: object
      properties:
        exercise:
          type: string
        trackingMode:
          type: string
          enum:
            - REPS
            - SECONDS
            - CARDIO
        sessionCount:
          type: integer
        segmentCount:
          type: integer
        totalRepetitions:
          type:
            - integer
            - "null"
        totalDurationSeconds:
          type:
            - integer
            - "null"
        maximumWeightKg:
          type:
            - number
            - "null"
        strengthVolumeKg:
          type:
            - number
            - "null"
        totalDistanceKm:
          type:
            - number
            - "null"
        maximumSpeedKph:
          type:
            - number
            - "null"
        maximumInclinePercent:
          type:
            - number
            - "null"
        maximumResistanceLevel:
          type:
            - integer
            - "null"
        totalCalories:
          type:
            - integer
            - "null"
        averageHeartRate:
          type:
            - number
            - "null"
    Sickness:
      type: object
      properties:
        date:
          type: string
          format: date
        type:
          type: string
        severity:
          type: string
          enum:
            - LOW
            - MEDIUM
            - HIGH
        note:
          type:
            - string
            - "null"
    Decision:
      type: object
      properties:
        date:
          type: string
          format: date
        outcome:
          type: string
          enum:
            - WIN
            - MISS
    DecisionMetrics:
      type: object
      properties:
        wins:
          type: integer
          format: int64
        misses:
          type: integer
          format: int64
        winRate:
          type:
            - number
            - "null"
    DecisionSummary:
      type: object
      properties:
        selectedDate:
          $ref: "#/components/schemas/DecisionMetrics"
        rolling30Days:
          $ref: "#/components/schemas/DecisionMetrics"
        previous30Days:
          $ref: "#/components/schemas/DecisionMetrics"
        allTime:
          $ref: "#/components/schemas/DecisionMetrics"
        winRateChange:
          type:
            - number
            - "null"
        currentWinStreak:
          type: integer
    WeekProgress:
      type: object
      required:
        - completeWeek
        - currentPeriod
        - previousComparablePeriod
      properties:
        completeWeek:
          type: boolean
        currentPeriod:
          $ref: "#/components/schemas/WeeklySummary"
        previousComparablePeriod:
          $ref: "#/components/schemas/WeeklySummary"
    WeeklySummary:
      type: object
      properties:
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        dashboard:
          $ref: "#/components/schemas/AverageStatus"
        routineCheckins:
          type: integer
        weight:
          $ref: "#/components/schemas/AverageWeight"
        bloodPressure:
          $ref: "#/components/schemas/AverageBloodPressure"
        moodAverage:
          type:
            - number
            - "null"
        sleep:
          $ref: "#/components/schemas/AverageSleep"
        calories:
          $ref: "#/components/schemas/CalorieSummary"
        workouts:
          $ref: "#/components/schemas/WorkoutSummary"
        sicknessesByType:
          type: object
          properties:
            COLD:
              type: integer
              format: int64
          additionalProperties:
            type: integer
            format: int64
        sicknessesBySeverity:
          type: object
          properties:
            LOW:
              type: integer
              format: int64
            MEDIUM:
              type: integer
              format: int64
            HIGH:
              type: integer
              format: int64
        decisions:
          $ref: "#/components/schemas/DecisionMetrics"
    AverageStatus:
      type: object
      properties:
        routinesPercentage:
          type:
            - number
            - "null"
        weightPercentage:
          type:
            - number
            - "null"
        bloodPressurePercentage:
          type:
            - number
            - "null"
        flexibilityPercentage:
          type:
            - number
            - "null"
        mindPercentage:
          type:
            - number
            - "null"
    AverageWeight:
      type: object
      properties:
        weightKg:
          type:
            - number
            - "null"
        fatPercentage:
          type:
            - number
            - "null"
        musclePercentage:
          type:
            - number
            - "null"
    AverageBloodPressure:
      type: object
      properties:
        systolic:
          type:
            - number
            - "null"
        diastolic:
          type:
            - number
            - "null"
    AverageSleep:
      type: object
      properties:
        totalSleepSeconds:
          type:
            - number
            - "null"
        deepSleepSeconds:
          type:
            - number
            - "null"
        remSleepSeconds:
          type:
            - number
            - "null"
        awakeSeconds:
          type:
            - number
            - "null"
        averageHeartRate:
          type:
            - number
            - "null"
        averageHrv:
          type:
            - number
            - "null"
    CalorieSummary:
      type: object
      properties:
        entryCount:
          type: integer
        totalCalories:
          type: integer
        averageCalories:
          type:
            - number
            - "null"
        averageTargetCalories:
          type:
            - number
            - "null"
        averageDifferenceFromTarget:
          type:
            - number
            - "null"
    WorkoutSummary:
      type: object
      properties:
        workoutCount:
          type: integer
        totalDurationSeconds:
          type: integer
        totalDistanceKm:
          type: number
        totalCalories:
          type: integer
        strengthVolumeKg:
          type: number
    Reflection:
      type: object
      required:
        - reflectionDate
        - windowStart
        - detailedWindowStart
        - windowEnd
        - generatedAt
        - model
        - title
        - summary
        - positiveSignals
        - watchouts
        - nextActions
      properties:
        reflectionDate:
          type: string
          format: date
        windowStart:
          type: string
          format: date
        detailedWindowStart:
          type: string
          format: date
        windowEnd:
          type: string
          format: date
        generatedAt:
          type: string
          format: date-time
        model:
          type: string
        title:
          type: string
        summary:
          type: string
        positiveSignals:
          $ref: "#/components/schemas/InsightList"
        watchouts:
          $ref: "#/components/schemas/InsightList"
        nextActions:
          $ref: "#/components/schemas/InsightList"
security:
  - BearerAuth: []
